@model TechJobs.Models.Job

<table class="job-listing">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <td>@Html.DisplayFor(model => model.Name)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Employer)</th>
        <td>@Html.DisplayFor(model => model.Employer.Value)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Location)</th>
        <td>@Html.DisplayFor(model => model.Location.Value)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.CoreCompetency)</th>
        <td>@Html.DisplayFor(model => model.CoreCompetency.Value)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.PositionType)</th>
        <td>@Html.DisplayFor(model => model.PositionType.Value)</td>
    </tr>
</table>